<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
  <% include partial_Navbar.ejs %>
  <div class="jumbotron jumbotron-fluid" id="jumboimage">
    <div class="container">
      <% if (!user) { %>
        <h1 class="display-3">Deadranker <br> music to study to</h1>
        <br>
        <a class="btn btn-primary btn-sm" href="login" role="button">Login</a>

        <a class="btn btn-primary btn-sm" href="register" role="button">Sign Up</a>
      <% } %>
      <% if (user) { %>
      <h1 class="display-3">Welcome back <%= user.username %> <h1>
      <br>
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Search Youtube..">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">Tags</div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="example: #lofi">
      </div>
        <br>
        <button type="submit" class="btn btn-primary">Add music</button>
      </form>
      <% } %>
      </p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
