body {
  font-size: 62.5%;
}
#navbar-brand-logo {
  height: 10%;
  width: 10%;
}

#jumboimage {
  background-image: url("https://78.media.tumblr.com/8f42cce8b8b07a7aecb6fc2b60b6110a/tumblr_p065doTUZr1wy56f5o1_1280.jpg");
  background-size: cover;
}

.display-3 {
  color: white;
  font-size: 3.5em;
  letter-spacing: 0.12em;
}
